body {
	background: url(../images/kevin.png) no-repeat center 100%;
	background-size: cover;
	background-attachment: fixed;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Reem Kufi', sans-serif;
}


body:after {
	content: '';
	position: absolute;
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0,.65);
	top: 0;
	left: 0;
	z-index: -1;
}

.jumbotron {
	z-index: 2;
}

main {
	background: white;
	padding: 0 2rem 2rem 2rem;
}

header {
	background: white;
}

#Map {
	height: 400px;
	margin-bottom: 30px;
}

#List .list-item {
	display: block;
	margin-left: 10px;
}

#List .panel-body {
	transition: all ease-in-out 200ms;
	max-height: 1000px;
	overflow: hidden;
}

#List .panel-body:hover {
	background-color: #337ab7;
	color: #FFFFFF;
	cursor: pointer;
}

#List .panel-body label.first {
	margin-top: 15px;
}

#StartUp {
	padding-top:100px;
}

#StartUp h2, #StartUp h4 {
	color: #fff;
}

#StartUp .jumbotron {
	background: transparent !important;
	box-shadow: none;
}

.second-form label {
	color: #fff;
}

#ChatTitle {
	text-transform: uppercase;
}

#sitekey {
	font-size: 1.4em;
	color: #666
}

#sitekey span {
	color: 	#ff4d00;
}

.bg-success h3 {
	padding: 5px;
}

#Title .container {
	background: transparent !important;
	box-shadow: none;
}

#Title {
	padding-top:30px;
}

#Title h1, #Title #sitekey {
	color: rgba(255,255,255,.75);
}

main {
	border-radius: 0 0 5px 5px;
}

